---
configuration: Release

image:
  - Visual Studio 2017

cache:
  - usr
  - downloads

# Build and test only once for a pull request.
skip_branch_with_pr: true

environment:
  APPVEYOR_SAVE_CACHE_ON_ERROR: true

  KF5_VERSION: 5.109
  KF5_PATCH: 0
  SNORETOAST_VERSION: 0.9.0

  # https://wiki.qt.io/Qt_5.13_Tools_and_Versions
  # https://www.appveyor.com/docs/windows-images-software/#tools
  matrix:
    # - QTDIR: /c/Qt/5.13/msvc2017_64
    #   CMAKE_GENERATOR: Visual Studio 15 2017
    #   CMAKE_GENERATOR_ARCH: x64
    #   CMAKE_POLICY_VERSION_MINIMUM: "3.5"
    #   BUILD_SUB_DIR: Release
    #   OPENSSL_PATH: /c/OpenSSL-v111-Win64/bin
    #   LIBSSL: libssl-1_1-x64.dll
    #   LIBCRYPTO: libcrypto-1_1-x64.dll
    #   GPGPATH: /c/Program Files/Git/usr/bin
    #   WITH_NATIVE_NOTIFICATIONS: "ON"
    #   WITH_QT6: "OFF"
    #   WINDEPLOYQT_ARGS: >-
    #     --no-system-d3d-compiler
    #     --no-opengl-sw
    #     --no-quick
    #   COPYQ_TESTS_SKIP_DRAG_AND_DROP: "1"
    #   COPYQ_TESTS_NO_SYMLINKS: "1"

    - QTDIR: /c/Qt/5.13/msvc2017
      CMAKE_GENERATOR: Visual Studio 15 2017
      CMAKE_GENERATOR_ARCH: Win32
      CMAKE_POLICY_VERSION_MINIMUM: "3.5"
      BUILD_SUB_DIR: Release
      OPENSSL_PATH: /c/OpenSSL-v111-Win32/bin
      LIBSSL: libssl-1_1.dll
      LIBCRYPTO: libcrypto-1_1.dll
      GPGPATH: /c/Program Files/Git/usr/bin
      WITH_NATIVE_NOTIFICATIONS: "ON"
      WITH_QT6: "OFF"
      WINDEPLOYQT_ARGS: >-
        --no-system-d3d-compiler
        --no-opengl-sw
        --no-quick
      COPYQ_TESTS_SKIP_DRAG_AND_DROP: "1"
      COPYQ_TESTS_NO_SYMLINKS: "1"

# Parameters for default build commands (build_script is used instead).
build: false

install:
  - ps: $env:Path = "C:\Program Files\Git\bin;$env:Path"
  - bash utils/appveyor/install.sh

before_build:
  - bash utils/appveyor/before_build.sh

build_script:
  - bash utils/appveyor/build_script.sh

after_build:
  - bash utils/appveyor/after_build.sh

test_script:
  - bash utils/appveyor/test_screenshots.sh
  - bash utils/appveyor/test.sh

# Upload test log files.
on_finish:
  - ps: >-
      Get-ChildItem -recurse -include copyq*.log*
      | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }

matrix:
  fast_finish: true
