---
configuration: Release

image:
  - Visual Studio 2019

cache:
  - usr
  - downloads

environment:
  APPVEYOR_SAVE_CACHE_ON_ERROR: true

  KF5_VERSION: 5.75
  KF5_PATCH: 0
  SNORETOAST_VERSION: 0.7.0

  matrix:
    - QTDIR: /c/Qt/5.13/msvc2017_64
      CMAKE_GENERATOR: Visual Studio 16 2019
      CMAKE_GENERATOR_ARCH: x64
      BUILD_SUB_DIR: Release
      # https://wiki.qt.io/Qt_5.13_Tools_and_Versions
      # https://www.appveyor.com/docs/windows-images-software/#tools
      OPENSSL_PATH: /c/OpenSSL-v111-Win64/bin
      LIBSSL: libssl-1_1-x64.dll
      LIBCRYPTO: libcrypto-1_1-x64.dll

# Parameters for default build commands (build_script is used instead).
build:

install:
  - ps: $env:Path = "C:\Program Files\Git\bin;$env:Path"
  - bash utils/appveyor/install.sh

before_build:
  - bash utils/appveyor/before_build.sh

build_script:
  - bash utils/appveyor/build_script.sh

after_build:
  - bash utils/appveyor/after_build.sh

artifacts:
  - path: 'copyq-*-setup.exe'
    name: CopyQ Setup

# Upload test log files.
on_finish:
  - ps: >-
      Get-ChildItem -recurse -include copyq*.log*
      | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }

matrix:
  fast_finish: true
