/* CopyQ CSS Tutorial
 *
 * Comments in CSS are written between
 * asterisk and slash characters.
 *
 * If you want to change some values
 * copy the text from here to the CSS editor.
 */

/* single item */
#item {

    /* item font and font size */
    font-family: Ubuntu Mono;
    font-size: 16pt;

    /* item maximum size */
    max-width: 512;
    max-height: 256;

    /* item minimum size */
    min-width: 512;
    min-height: 256;

    /* margins (top, left, bottom, right) */
    margins: 0 0 0 4em;

    /* text color */
    color: black;

}

/* history list */
#history {

    /* alternate item color */
    alternate-background-color: rgba(200,200,200,100);

    /* selection color */
    selection-background-color: rgba(150,220,255,200);

    /* number text color */
    color: gray;
    selection-color: white;

}

/* matched text */
.em {

    background-color: yellow;
    color: black;

}

/* search bar */
#searchBar {
}

/* label for search bar */
#findLabel {

    /* bold font */
    font-weight: bold;

}

/* item editor */
#editor {

    /* default monospace font */
    font-family: monospace;
    color: black;

}

/* For more options and examples go to
 * http://doc.qt.nokia.com/stylesheet-examples.html
 */

