Source: copyq
Section: utils
Priority: optional
Maintainer: Lukas Holecek <hluk@email.cz>
Build-Depends:
 cmake,
 debhelper (>= 10),
 libqt5svg5-dev,
 libxfixes-dev,
 libxtst-dev,
 libqt5x11extras5-dev,
 qtbase5-private-dev,
 qtscript5-dev,
 qttools5-dev,
 qttools5-dev-tools,
Standards-Version: 4.1.0
Homepage: https://hluk.github.io/CopyQ/
Vcs-Browser: https://github.com/hluk/CopyQ
Vcs-Git: https://github.com/hluk/CopyQ.git

Package: copyq
Architecture: any
Depends:
 libqt5svg5,
 ${misc:Depends},
 ${shlibs:Depends},
Description: Advanced clipboard manager with editing and scripting features
 CopyQ monitors system clipboard and saves its content in customized tabs.
 Saved clipboard can be later copied and pasted directly into any application.
 .
 Items can be:
  * edited with internal editor or with preferred text editor,
  * moved to other tabs,
  * drag'n'dropped to applications,
  * marked with tag or a note,
  * passed to or changed by custom commands,
  * or simply removed.
 .
 Features:
  * Support for Linux, Windows and OS X 10.9+
  * Store text, HTML, images or any other custom formats
  * Quickly browse and filter items in clipboard history
  * Sort, create, edit, remove, copy/paste, drag'n'drop items in tabs
  * Add notes or tags to items
  * System-wide shortcuts with customizable commands
  * Paste items with shortcut or from tray or main window
  * Fully customizable appearance
  * Advanced command-line interface and scripting
  * Ignore clipboard copied from some windows or containing some text
  * Support for simple Vim-like editor and shortcuts
  * Many more features
