/* http://doc.qt.nokia.com/stylesheet-examples.html */
/* font */
.text, .number, #clipboardBrowser, #searchBar, QPlainTextEdit {
    font-family: Envy Code R, Consolas, Bitstream Vera Sans Mono, monospace;
}

#clipboardBrowser, #searchBar {
    border: 0px solid transparent;
}

QMainWindow {
}

#clipboardBrowser {
}

#searchBar {
}

#findLabel {
    font-weight: bold;
}

/* item text */
.text {
}

/* item number */
.number {
    padding-right: 1ex;
}

/* matched text */
.em {
    background-color: yellow;
    color: black;
}

QToolTip, QScrollBar {
}

QListView::item {
    border: 2px solid transparent;
}

QListView::item:alternate {
}

QListView::item:selected {
    border: 2px solid #888;
}

QListView::item:hover {
    border: 2px dashed #888;
}

