/* http://doc.trolltech.com/stylesheet-examples.html */
* {
    color: white;
    font-family: DejaVu Sans Mono, Envy Code R, Consolas, Bitstream Vera Sans Mono;
    font-size: 10pt;
}

/* item text */
.txt {
}

/* item number */
.number {
    font-size: 6pt;
    color: #aca;
}

/* matched text */
.em {
    color: yellow;
}

QToolTip, QScrollBar {
    color: black;
}

QWidget {
    background-color: #222;
}

QListView::item:alternate {
    background-color: #303930;
}

QListView::item:selected {
    border: 1px solid #464;
}

QListView::item:selected:!active {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #5B5, stop: 1 #222);
}

QListView::item:selected:active {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #262, stop: 1 #484);
}

QListView::item:hover {
    background: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
    stop: 0 #442, stop: 1 #773);
}

