<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>

        <key>CFBundleIconFile</key>
        <string>icon.icns</string>

        <key>CFBundlePackageType</key>
        <string>APPL</string>

        <key>CFBundleGetInfoString</key>
        <string></string>

        <key>CFBundleExecutable</key>
        <string>copyq</string>

        <key>CFBundleName</key>
        <string>CopyQ</string>

        <!-- hide dock icon -->
        <key>LSUIElement</key>
        <string>1</string>

        <key>CFBundleSignature</key>
        <string>hluk</string>

        <key>CFBundleIdentifier</key>
        <string>com.hluk.CopyQ</string>

        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>

        <key>LSMinimumSystemVersion</key>
        <string>10.6.6</string>

        <key>LSApplicationCategoryType</key>
        <string>public.app-category.utilities</string>
    </dict>
</plist>
