---
name: Linux

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  common_packages: >-
    ninja-build

    libxfixes-dev
    libxtst-dev

    extra-cmake-modules
    libwayland-dev

    gnupg2

    xvfb
    openbox
    xdotool
  qt6_packages: >-
    libegl-dev

    qt6-base-private-dev
    qt6-base-dev
    qt6-base-dev-tools
    qt6-tools-dev
    qt6-tools-dev-tools
    qt6-l10n-tools
    qt6-declarative-dev

    libqt6svg6-dev
    libqt6svg6

    libkf6guiaddons-dev
    libkf6notifications-dev
    kf6-kstatusnotifieritem-dev

    libqt6waylandclient6
    qt6-wayland
    qt6-wayland-dev
    qt6-wayland-dev-tools
  qt5_packages: >-
    qtbase5-dev
    qtbase5-dev-tools
    qtbase5-private-dev
    qtdeclarative5-dev
    qttools5-dev
    qttools5-dev-tools

    libqt5x11extras5-dev

    libqt5svg5-dev
    libqt5svg5

    libqt5waylandclient5-dev
    qtwayland5
    qtwayland5-dev-tools

    libkf5notifications-dev
  # FIXME: Sending signal to client process does not cause the process
  # to exit with non-zero code with GitHub Actions. Why?
  COPYQ_TESTS_SKIP_SIGNAL: '1'

jobs:
  build:
    name: ${{matrix.buildname}}
    runs-on: ${{matrix.os}}
    strategy:
      # Avoid canceling all jobs on transient failures.
      fail-fast: false
      matrix:
        include:
          # - os: ubuntu-22.04
          #   buildname: Qt 5
          #   compiler: g++
          #   compiler_package: g++
          #   with_qt6: false
          #   test_x11: true
          #   cmake_preset: Debug
          #
          # - os: ubuntu-latest
          #   buildname: Qt 6
          #   compiler: g++
          #   compiler_package: g++
          #   with_qt6: true
          #   test_x11: true
          #   test_wayland: true
          #   coverage: true
          #   cmake_preset: Debug
          #   compiler_flags: >-
          #     --coverage
          #     -fprofile-arcs
          #     -ftest-coverage
          #     -fprofile-abs-path
          #
          # - os: ubuntu-latest
          #   buildname: Qt 6 Clang
          #   compiler: clang++
          #   compiler_package: clang
          #   with_qt6: true
          #   cmake_preset: Debug

          - os: ubuntu-latest
            buildname: AppImage
            compiler: g++
            compiler_package: g++
            appimage: true
            with_qt6: true
            cmake_preset: Release

    steps:
      - name: Checkout source code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
        with:
          submodules: false
          fetch-depth: 1

      - name: Enable ccache
        uses: hendrikmuhs/ccache-action@bfa03e1de4d7f7c3e80ad9109feedd05c4f5a716 # v1.2
        with:
          key: ${{ github.job }}-${{ matrix.os }}

      - name: Set up ccache
        run: |
          export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"

      - name: Set up KDE Neon repository for KF6 packages
        if: matrix.with_qt6
        run: |
          # Download and install KDE neon archive keyring
          curl \
            --location \
            --silent \
            --show-error \
            --fail-with-body \
            https://archive.neon.kde.org/public.key |
            sudo gpg --dearmor -o /usr/share/keyrings/neon-archive-keyring.gpg
          # Add KDE neon repository
          echo "deb [signed-by=/usr/share/keyrings/neon-archive-keyring.gpg] https://archive.neon.kde.org/stable noble main" |
            sudo tee /etc/apt/sources.list.d/neon.list
          # Update package list
          sudo apt-get update

      - name: Install dependencies
        env:
          PACKAGES: >-
            ${{ matrix.compiler_package }}
            ${{ env.common_packages }}
            ${{ matrix.with_qt6 && env.qt6_packages || env.qt5_packages }}
            ${{ matrix.coverage && 'lcov' || '' }}
            ${{ matrix.coverage && 'kwin-wayland kwin-wayland-backend-virtual procps' || '' }}
        run: sudo apt install -y $PACKAGES

      # - name: Install dependencies
      #   uses: awalsh128/cache-apt-pkgs-action@acb598e5ddbc6f68a970c5da0688d2f3a9f04d05 # v1
      #   with:
      #     version: 1.0
      #     packages: >-
      #       ${{ matrix.compiler_package }}
      #       ${{ env.common_packages }}
      #       ${{ matrix.with_qt6 && env.qt6_packages || env.qt5_packages }}
      #       ${{ matrix.coverage && 'lcov' || '' }}
      #       ${{ matrix.coverage && 'kwin-wayland kwin-wayland-backend-virtual procps' || '' }}

      - name: Build with CMake
        uses: lukka/run-cmake@af1be47fd7c933593f687731bc6fdbee024d3ff4 # v10
        with:
          configurePreset: '${{ matrix.cmake_preset }}'
          buildPreset: '${{ matrix.cmake_preset }}'
          configurePresetAdditionalArgs: >-
            [
            '-DCMAKE_CXX_COMPILER=${{matrix.compiler}}',
            '-DCMAKE_CXX_FLAGS=${{matrix.compiler_flags}}',
            '-DCMAKE_C_FLAGS=${{matrix.compiler_flags}}',
            '-DWITH_QT6=${{matrix.with_qt6}}',
            '-DWITH_NATIVE_NOTIFICATIONS=ON'
            ]

      - name: Get AppImage tools
        if: matrix.appimage
        run: |
          curl \
            --parallel \
            --location \
            --silent \
            --show-error \
            --fail-with-body \
            --remote-name-all \
            https://github.com/linuxdeploy/linuxdeploy/releases/download/continuous/linuxdeploy-x86_64.AppImage \
            https://github.com/linuxdeploy/linuxdeploy-plugin-qt/releases/download/continuous/linuxdeploy-plugin-qt-x86_64.AppImage \
            https://github.com/linuxdeploy/linuxdeploy-plugin-appimage/releases/download/continuous/linuxdeploy-plugin-appimage-x86_64.AppImage
          chmod +x linuxdeploy*.AppImage

      - name: Create AppImage
        if: matrix.appimage
        env:
          APP_DIR: >-
            ${{runner.workspace}}/build/copyq/${{ matrix.cmake_preset }}/AppDir
          EXTRA_QT_MODULES: >-
            svg;tls;kf6
          EXTRA_PLATFORM_PLUGINS: >-
            libqwayland.so
        run: |
          ./linuxdeploy-x86_64.AppImage \
              --plugin qt \
              --output=appimage \
              --appdir="$APP_DIR" \
              --desktop-file="$APP_DIR"/usr/share/applications/com.github.hluk.copyq.desktop \
              --icon-file="$APP_DIR"/usr/share/icons/hicolor/scalable/apps/copyq.svg \
              --executable="$APP_DIR"/usr/bin/copyq

      - name: Upload AppImage
        if: matrix.appimage
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v4
        with:
          name: CopyQ-x86_64.AppImage
          path: CopyQ-x86_64.AppImage

      - name: Test AppImage
        if: matrix.appimage
        run: |
          ./CopyQ-x86_64.AppImage --version
          ./CopyQ-x86_64.AppImage --info

      - name: Create gnupg directory for tests
        if: matrix.test_x11
        run: mkdir -p ~/.gnupg && chmod go-rwx ~/.gnupg

      - name: Test on Wayland
        working-directory: >-
          ${{runner.workspace}}/build/copyq/${{ matrix.cmake_preset }}
        if: matrix.test_wayland
        run: '${{github.workspace}}/utils/github/test-linux-wayland.sh'
        env:
          COPYQ_TESTS_EXECUTABLE: >-
            ${{runner.workspace}}/install/copyq/${{ matrix.cmake_preset }}/bin/copyq

      - name: Test on X11
        working-directory: >-
          ${{runner.workspace}}/build/copyq/${{ matrix.cmake_preset }}
        if: matrix.test_x11
        run: '${{github.workspace}}/utils/github/test-linux.sh'
        env:
          COPYQ_TESTS_EXECUTABLE: >-
            ${{runner.workspace}}/install/copyq/${{ matrix.cmake_preset }}/bin/copyq
          COPYQ_TESTS_SKIP_DRAG_AND_DROP: >-
            ${{ matrix.with_qt6 && '0' || '1' }}

      - name: Update coverage
        if: matrix.coverage
        working-directory: >-
          ${{runner.workspace}}/build/copyq/${{ matrix.cmake_preset }}
        run: |
          lcov --capture --directory . --output-file coverage-full.info
          # Remove system and 3rd party files
          lcov --remove coverage-full.info \
              '/usr/*' \
              '*/plugins/itemfakevim/fakevim/*' \
              '*/src/gui/fix_icon_id.h' \
              --output-file coverage.info

      - name: Upload coverage to Codecov
        if: matrix.coverage
        uses: codecov/codecov-action@5a1091511ad55cbe89839c7260b706298ca349f7 # v5
        with:
          files: ${{runner.workspace}}/build/copyq/${{ matrix.cmake_preset }}/coverage.info
          fail_ci_if_error: true
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}
