---
name: macOS

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: ${{matrix.buildname}}
    runs-on: ${{matrix.os}}
    strategy:
      # Avoid canceling all jobs on transient failures.
      fail-fast: false
      matrix:
        include:
          - os: macos-15-intel
            buildname: macOS 13
            bundle_suffix: '-macos-13'
            cmake_preset: macOS-13

          - os: macos-14
            buildname: macOS 12 M1
            bundle_suffix: '-macos-12-m1'
            cmake_preset: macOS-12-m1

    steps:
      - name: Checkout source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v5
        with:
          submodules: false
          fetch-depth: 1

      - name: Enable ccache
        uses: hendrikmuhs/ccache-action@5ebbd400eff9e74630f759d94ddd7b6c26299639 # v1.2
        with:
          key: ${{ github.job }}-${{ matrix.os }}

      - name: Set up ccache
        run: |
          export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"

      - name: Install dependencies
        env:
          HOMEBREW_NO_INSTALLED_DEPENDENTS_CHECK: 1
          HOMEBREW_NO_AUTO_UPDATE: 1
          HOMEBREW_NO_INSTALL_CLEANUP: 1
        run: '${{github.workspace}}/utils/github/install-macos.sh'

      - name: Build with CMake
        uses: lukka/run-cmake@af1be47fd7c933593f687731bc6fdbee024d3ff4 # v10
        with:
          configurePreset: '${{ matrix.cmake_preset }}'
          buildPreset: '${{ matrix.cmake_preset }}'
          packagePreset: '${{ matrix.cmake_preset }}'

      - name: Create gnupg directory for tests
        run: mkdir -p ~/.gnupg && chmod go-rwx ~/.gnupg

      - name: Create macOS bundle
        working-directory: '${{runner.workspace}}/build/copyq/${{ matrix.cmake_preset }}'
        # Retry cpack due to frequent errors: "hdiutil: create failed - Resource busy"
        run: cpack || cpack || cpack && mv -v copyq-*.dmg CopyQ.dmg

      - name: Upload macOS bundle
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v4
        with:
          name: 'CopyQ${{ matrix.bundle_suffix }}.dmg'
          path: '${{runner.workspace}}/build/copyq/${{ matrix.cmake_preset }}/CopyQ.dmg'

      - name: Test
        working-directory: '${{runner.workspace}}/build/copyq/${{ matrix.cmake_preset }}'
        run: '${{github.workspace}}/utils/github/test-macos.sh'

      - name: Upload crash reports
        if: failure()
        uses: actions/upload-artifact@bbbca2ddaa5d8feaa63e36b76fdaad77386f024f # v4
        with:
          name: 'crash-reports${{ matrix.bundle_suffix }}'
          path: '~/Library/Logs/DiagnosticReports/*'
          if-no-files-found: ignore
